/* Style File Created By D'Andre Lamber
=============================
00: CSS Variables
01: Color
/* 02: Typography */
/* 03: Layout */

/* 00: CSS Variables */
:root{
    --page-color: hsla(229, 84%, 46%, 0.8);
    --body-color: hsla(125, 72%, 45%, 0.25);
    --sidebar-color: hsla(0, 93%, 32%, 0.75);
    --footbar-color: hsl(0, 94%, 18%);
    --tab-color: hsla(266, 71%, 49%, 0.75);
}
 
/* 01: Color */

/* 02: Typography */


/* 03: Layout */

/* 04: For test */
div#zen-supporting{
    position: relative;
    top: 45px;
    width: 20px;
    left: 20px;
}
aside.sidebar{
    display:none;
}
div.extra2{
    position:fixed;
    top: 15%;
    bottom: 10px;
    left: 60px;
    right: 10vh;
    width: 5%;
    height: var(--footbar-height);
    background-color: var(--footbar-color);
}