/* Style File Created By D'Andre Lamber
=============================
00: CSS Variables
01: Color
02: Font Style
03: Font Size
*/

/* 00: CSS Variables */
:root{
    --page-color: hsla(229, 84%, 46%, 0.8);
    --body-color: hsla(228, 10%, 30%, 0.25);
    --sidebar-color: hsla(0, 0%, 0%, 0.75);
    --footbar-color: hsla(229, 87%, 38%, 0);
    --tab-color: hsla(266, 71%, 49%, 0.75);
}
 
/* 01: Color */
html{
    background-color: hsla(155, 40%, 89%, 0.9);
    padding: 5%;
    
}

body{
    background-color: var(--body-color);

}
#zen-intro{
    background-color: var(--page-color);
}
#zen
/* 02: Typography */


/* 03: Layout */

/* 04: For test */
div#zen-supporting{
    display:none;
}
aside.sidebar{
    display:none;
}